<%= turbo_frame_tag 'edit_card' do %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= note.title %></h5>
    <p class="card-text lh-lg body__text"><%= note.body %></p>
    <footer class="blockquote-footer mt-2 text-end"><%= note.user.email %> <cite title="Source Title"><%= note.note_date %></cite></footer>
  </div>
  <%= link_to 'Edit', edit_note_path(note), class: blue_btn  %>
</div>
<% end %>
