<%= render 'search_bar' %>
<div class="note__container">
    <div class="">
      <%= render 'form', note: @note %>
    </div>
    <div class="">
      <%= render 'order_notes' %>
      <%= turbo_frame_tag 'notes' do %>
        <div class="notes">
            <%= render @notes %>
        </div>
      <% end %>
    </div>
    <div class="full__note__container">
        <%= turbo_frame_tag "full_note" %>
    </div>
</div>
