<%= render 'search_bar', locals:{ path: notes_path } %>
<div class="note__container">
    <div class="">
      <%= render 'form', note: @note %>
    </div>
    <div class="all__notes">
      <%= render 'order_notes' %>
      <%= turbo_frame_tag 'notes' do %>
         <%= render @notes %>
      <% end %>
    </div>
    <div class="full__note__container">
        <%= turbo_frame_tag "full_note" %>
    </div>
</div>
